In [108]:
#import libraries
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
import numpy as np
import pandas as pd

In [109]:
# import datasets
y = pd.read_csv("../data/raw/train_labels.csv")
X = pd.read_csv("../data/raw/train_values.csv")
test = pd.read_csv("../data/raw/test_values.csv")

In [110]:
#split the dataset into train and test
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [111]:
# encodings

X_train_obj = X_train.select_dtypes(include='object')

for i in X_train_obj.columns:
    print(i)
    print(X_train.loc[:, i].unique())

land_surface_condition
['n' 'o' 't']
foundation_type
['r' 'u' 'w' 'i' 'h']
roof_type
['n' 'q' 'x']
ground_floor_type
['f' 'v' 'x' 'z' 'm']
other_floor_type
['x' 'q' 's' 'j']
position
['s' 't' 'j' 'o']
plan_configuration
['q' 'd' 'u' 'a' 's' 'm' 'c' 'n' 'o' 'f']
legal_ownership_status
['v' 'w' 'r' 'a']

In [112]:
#Label Encoding all columns

le_lsc = LabelEncoder()  #instantiate the Label Encoder
X_train['land_surface_condition'] = le_lsc.fit_transform(X_train['land_surface_condition'])

le_ft = LabelEncoder()  #instantiate the Label Encoder
X_train['foundation_type'] = le_ft.fit_transform(X_train['foundation_type'])

le_rt = LabelEncoder()  #instantiate the Label Encoder
X_train['roof_type'] = le_rt.fit_transform(X_train['roof_type'])

le_gft = LabelEncoder()  #instantiate the Label Encoder
X_train['ground_floor_type'] = le_gft.fit_transform(X_train['ground_floor_type'])

le_oft = LabelEncoder()  #instantiate the Label Encoder
X_train['other_floor_type'] = le_oft.fit_transform(X_train['other_floor_type'])

le_pos = LabelEncoder()  #instantiate the Label Encoder
X_train['position'] = le_pos.fit_transform(X_train['position'])

le_pc = LabelEncoder()  #instantiate the Label Encoder
X_train['plan_configuration'] = le_pc.fit_transform(X_train['plan_configuration'])

le_los = LabelEncoder()  #instantiate the Label Encoder
X_train['legal_ownership_status'] = le_los.fit_transform(X_train['legal_ownership_status'])


X_train.drop('building_id', inplace=True, axis=1)

X_train

#it's ideal to always instantiate new LabelEncoders for different columns

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
170377,13,257,8352,3,25,2,5,0,2,0,...,0,0,0,0,0,0,0,0,0,0
184895,6,1076,9202,3,40,10,8,1,2,0,...,0,0,1,0,0,0,0,0,0,0
26740,7,838,10723,2,45,8,5,2,2,0,...,0,0,0,0,0,0,0,0,0,0
198210,7,555,2763,2,30,7,4,2,2,0,...,0,0,0,0,0,0,0,0,0,0
254313,17,682,1039,3,30,6,7,2,2,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259178,13,909,1626,2,25,6,5,2,2,1,...,0,0,0,0,0,0,0,0,0,0
103694,10,1397,8182,2,5,5,4,0,2,0,...,0,0,0,0,0,0,0,0,0,0
131932,8,1073,5249,3,20,22,7,1,2,1,...,0,1,0,0,0,0,0,0,0,0
146867,10,76,1841,3,10,11,7,2,2,1,...,0,0,0,0,0,0,0,0,0,0
121958,7,746,10603,2,0,7,5,2,2,0,...,0,0,0,0,0,0,0,0,0,0

In [113]:
X_train.dtypes

geo_level_1_id                            int64
geo_level_2_id                            int64
geo_level_3_id                            int64
count_floors_pre_eq                       int64
age                                       int64
area_percentage                           int64
height_percentage                         int64
land_surface_condition                    int64
foundation_type                           int64
roof_type                                 int64
ground_floor_type                         int64
other_floor_type                          int64
position                                  int64
plan_configuration                        int64
has_superstructure_adobe_mud              int64
has_superstructure_mud_mortar_stone       int64
has_superstructure_stone_flag             int64
has_superstructure_cement_mortar_stone    int64
has_superstructure_mud_mortar_brick       int64
has_superstructure_cement_mortar_brick    int64
has_superstructure_timber                 int64
has_superstructure_bamboo                 int64
has_superstructure_rc_non_engineered      int64
has_superstructure_rc_engineered          int64
has_superstructure_other                  int64
legal_ownership_status                    int64
count_families                            int64
has_secondary_use                         int64
has_secondary_use_agriculture             int64
has_secondary_use_hotel                   int64
has_secondary_use_rental                  int64
has_secondary_use_institution             int64
has_secondary_use_school                  int64
has_secondary_use_industry                int64
has_secondary_use_health_post             int64
has_secondary_use_gov_office              int64
has_secondary_use_use_police              int64
has_secondary_use_other                   int64
dtype: object

In [114]:
#Encoding for test data set

X_test['land_surface_condition'] = le_lsc.transform(X_test['land_surface_condition'])
X_test['foundation_type'] = le_ft.transform(X_test['foundation_type'])
X_test['roof_type'] = le_rt.transform(X_test['roof_type'])
X_test['ground_floor_type'] = le_gft.transform(X_test['ground_floor_type'])
X_test['other_floor_type'] = le_oft.transform(X_test['other_floor_type'])
X_test['position'] = le_pos.transform(X_test['position'])
X_test['plan_configuration'] = le_pc.transform(X_test['plan_configuration'])
X_test['legal_ownership_status'] = le_los.transform(X_test['legal_ownership_status'])

X_test.drop('building_id', inplace=True, axis=1)
X_test

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
111801,10,1224,11128,1,20,7,3,2,2,0,...,0,0,0,0,0,0,0,0,0,0
91817,22,1101,12483,2,60,7,6,2,2,0,...,0,0,0,0,0,0,0,0,0,0
251661,26,39,11440,2,50,6,5,2,2,0,...,0,0,0,0,0,0,0,0,0,0
205479,8,1073,2743,3,50,7,6,1,2,1,...,0,0,0,0,0,0,0,0,0,0
22618,6,706,7959,2,15,8,4,2,2,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209800,17,51,8163,3,5,9,7,2,2,1,...,0,1,0,0,0,0,0,0,0,0
45779,20,922,1378,2,10,8,5,2,2,1,...,0,0,0,0,0,0,0,0,0,0
177645,7,1233,5131,2,35,6,5,2,2,0,...,0,1,0,0,0,0,0,0,0,0
36857,10,142,3523,2,15,5,5,0,2,1,...,0,0,0,0,0,0,0,0,0,0
97716,13,373,3746,2,10,5,5,2,2,0,...,0,0,0,0,0,0,0,0,0,0

In [115]:
#Encoding for test_values data set

test['land_surface_condition'] = le_lsc.transform(test['land_surface_condition'])
test['foundation_type'] = le_ft.transform(test['foundation_type'])
test['roof_type'] = le_rt.transform(test['roof_type'])
test['ground_floor_type'] = le_gft.transform(test['ground_floor_type'])
test['other_floor_type'] = le_oft.transform(test['other_floor_type'])
test['position'] = le_pos.transform(test['position'])
test['plan_configuration'] = le_pc.transform(test['plan_configuration'])
test['legal_ownership_status'] = le_los.transform(test['legal_ownership_status'])

test_wo_id = test.drop('building_id', axis=1)
test

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,300051,17,596,11307,3,20,7,6,2,2,...,0,0,0,0,0,0,0,0,0,0
1,99355,6,141,11987,2,25,13,5,2,2,...,1,0,0,0,0,0,0,0,0,0
2,890251,22,19,10044,2,5,4,5,2,2,...,0,0,0,0,0,0,0,0,0,0
3,745817,26,39,633,1,0,19,3,2,2,...,0,0,1,0,0,0,0,0,0,0
4,421793,17,289,7970,3,15,8,7,2,2,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86863,310028,4,605,3623,3,70,20,6,2,2,...,1,0,0,0,0,0,0,0,0,0
86864,663567,10,1407,11907,3,25,6,7,0,2,...,0,0,0,0,0,0,0,0,0,0
86865,1049160,22,1136,7712,1,50,3,3,2,2,...,0,0,0,0,0,0,0,0,0,0
86866,442785,6,1041,912,2,5,9,5,2,2,...,0,0,0,0,0,0,0,0,0,0
86867,501372,26,36,6436,2,10,11,4,2,2,...,0,0,0,0,0,0,0,0,0,0

In [116]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(208480, 38)
(52121, 38)
(208480, 2)
(52121, 2)

In [117]:
y_train.drop('building_id', inplace=True, axis=1)

In [118]:
y_test.drop('building_id', inplace=True, axis=1)

In [119]:
dt_classifier = DecisionTreeClassifier(random_state=42, max_depth=24, max_leaf_nodes=1000)
dt_classifier.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=24, max_leaf_nodes=1000, random_state=42)

In [120]:
y_pred = dt_classifier.predict(X_test)

In [121]:
f1_dct_c_encoding = f1_score(y_test, y_pred, average='micro')
print(f'The F1 micro score for the Decision Tree Classifier with max depth = 24 and max leaf = 1000 is: {f1_dct_c_encoding}.')

The F1 micro score for the Decision Tree Classifier with max depth = 24 and max leaf = 1000 is: 0.7134360430536636.

In [122]:
test.shape

(86868, 39)

In [124]:
test_predict = dt_classifier.predict(test_wo_id)

In [ ]:
unique, counts = np.unique(test_predict, return_counts=True)
dict(zip(unique, counts))

{1: 5660, 2: 57286, 3: 23922}

In [126]:
test_submit = pd.concat([test.loc[:, 'building_id'], pd.Series(test_predict)], axis=1)
test_submit

       building_id  0
0           300051  3
1            99355  2
2           890251  2
3           745817  1
4           421793  3
...            ... ..
86863       310028  2
86864       663567  2
86865      1049160  2
86866       442785  2
86867       501372  2

[86868 rows x 2 columns]

In [127]:
test_submit.columns = ['building_id', 'damage_grade']
test_submit.to_csv(path_or_buf='../data/processed/20231005_dct_c_encoding.csv', index=False)

In [129]:
print(f'The submission score was 0.7123!')

The submission score was 0.7123!